<!-- templates/includes/delete_modal_form.html -->
<!-- モーダルウィンドウ -->
<div id="myModal" class="modal">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{ book.title }}</h5> <!-- モーダルタイトルにDjango変数を表示 -->
                <button type="button" class="btn-close close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modal-message">この項目を削除しますか？</p>

                <!-- Reading Notes用の表示項目 -->
                <div id="reading-note-details">
                    <strong>気づき:</strong> <span id="note-impression"></span><br>
                    <strong>学び:</strong> <span id="note-learning"></span><br>
                    <strong>日付:</strong> <span id="note-date"></span>
                </div>

                <!-- Satisfaction Level用の表示項目 -->
                <div id="satisfaction-level-details" style="display:none;">
                    <strong>満足度:</strong> <span id="satisfaction-level"></span><br>
                    <strong>日付:</strong> <span id="summary-date"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirmDeleteButton" class="btn btn-success">削除</button>
                <button id="cancel-btn" class="btn btn-secondary">キャンセル</button>
            </div>
        </div>
    </div>
</div>