<!-- templates/detail.html -->
{% extends 'base.html' %}

{% block title %}Detail{% endblock %}

{% block content %}
<div class="container custom-container">
    <h2 class="my-4">Details : {{ book.title }}</h2>

    <div class="row">
        <div class="col-md-4">
            {% if book.cover_image %}
                <img src="{{ book.cover_image.url }}" class="img-fluid" alt="{{ book.title }}" style="width: 100%; max-width: 250px; height: auto;">
            {% else %}
                <div class="bg-light text-center" style="width: 100%; max-width: 250px; height: 300px; display: flex; align-items: center; justify-content: center;">
                    No image
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <!-- Summary Section -->
            <div class="mb-4"> <!-- 余白を追加 -->
                <h3>Summary</h3>
                <div class="list-group-item">
                    {{ book.summary }}
                </div>
            </div>

            <!-- Basic Information Section -->
            <div class="mb-4"> <!-- 余白を追加 -->
                <h3>Basic Information</h3>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <strong>登録者:</strong> {{ basic_info.registrant }}<br>
                            <strong>登録日:</strong> {{ basic_info.registration_date }}<br>
                            <strong>著者:</strong> {{ book.author }}<br>
                            <strong>出版社:</strong> {{ book.publisher }}<br>
                            <!-- <strong>Purpose:</strong> {{ basic_info.purpose }}<br>
                            <strong>Buy Reason:</strong> {{ basic_info.buy_reason }}<br> -->
                            <!-- <strong>Is Finished:</strong> {{ basic_info.is_finished }} -->
                        </div>
                        {% if basic_info.registrant == user.username %}
                            <a href="{% url 'update_basic_info' basic_info.basic_info_code %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'delete_basic_info' basic_info.basic_info_code %}" class="btn btn-danger btn-sm ml-2">Delete Basic Info and All Related Records</a>
                        {% endif %}
                    </li>
                </ul>
            </div>

            <!-- Reading Notes Section -->
            <div class="mb-4"> <!-- 余白を追加 -->
                <h3>Reading Notes</h3>
                <ul class="list-group">
                    {% for note in reading_notes %}
                        <li class="list-group-item">
                            <strong>日付:</strong> <span class="note-date">{{ note.registration_date }}</span><br>
                            <strong>気づき:</strong> <span class="note-impression">{{ note.impression }}</span><br>
                            <strong>学び:</strong> <span class="note-learning">{{ note.learning }}</span><br>
                            {% if basic_info.registrant == user.username %}
                                <a href="{% url 'update_reading_note' note.note_id %}" class="btn btn-warning btn-sm mt-2">Edit</a>
                                <a href="{% url 'delete_reading_note' note.note_id %}" class="btn btn-danger btn-sm mt-2">Delete</a>
                                <button class="btn btn-danger btn-sm mt-2 delete-reading-note" data-note-id="{{ note.pk }}" type="button">Delete:モーダル</button>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% if basic_info.registrant == user.username %}
                    <a href="{% url 'readingnote' book.book_code %}" class="btn btn-primary btn-sm mt-3">Add Reading Note</a>
                {% endif %}
            </div>

            <!-- Post Reading Summaries Section -->
            <div class="mb-4"> <!-- 余白を追加 -->
                <h3>Satisfaction Level</h3>
                <ul class="list-group">
                    {% for summary in post_reading_summaries %}
                        <li class="list-group-item">
                            <strong>日付:</strong> <span class="summary-date">{{ summary.registration_date }}</span><br>
                            <!-- <strong>気づき:</strong> {{ summary.impression }}<br>
                            <strong>学び:</strong> {{ summary.learning }}<br> -->
                            <strong>満足度:</strong> <span class="satisfaction-level">{{ summary.satisfaction_level }}</span><br>
                            {% if summary.basic_info_code.registrant == user.username %}
                                <a href="{% url 'update_post_reading_summary' summary.summary_id %}" class="btn btn-warning btn-sm mt-2">Edit</a>
                                <a href="{% url 'delete_post_reading_summary' summary.summary_id %}" class="btn btn-danger btn-sm mt-2">Delete</a>
                                <button class="btn btn-danger btn-sm mt-2 delete-satisfaction-level" data-summary-id="{{ summary.pk }}" type="button">Delete:モーダル</button>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% if basic_info.registrant == user.username %}
                    <a href="{% url 'postreading' book.book_code %}" class="btn btn-primary btn-sm mt-3">Add Satisfaction Level</a>
                    <button class="btn btn-danger btn-sm mt-2 register-satisfaction-level"  data-book-code="{{ book.book_code }}" type="button">Register:モーダル</button>
                {% endif %}
            </div>

            <a href="{% url 'list' %}" class="btn btn-secondary mt-3">Back to list</a>
        </div>
    </div>
</div>

<!-- モーダルウィンドウ -->
<div id="myModal" class="modal">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{ book.title }}</h5> <!-- モーダルタイトルにDjango変数を表示 -->
                <button type="button" class="btn-close close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modal-message">この項目を削除しますか？</p>

                <!-- Reading Notes用の表示項目 -->
                <div id="reading-note-details">
                    <strong>気づき:</strong> <span id="note-impression"></span><br>
                    <strong>学び:</strong> <span id="note-learning"></span><br>
                    <strong>日付:</strong> <span id="note-date"></span>
                </div>

                <!-- Satisfaction Level用の表示項目 -->
                <div id="satisfaction-level-details" style="display:none;">
                    <strong>満足度:</strong> <span id="satisfaction-level"></span><br>
                    <strong>日付:</strong> <span id="summary-date"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirmDeleteButton" class="btn btn-success">削除</button>
                <button id="cancel-btn" class="btn btn-secondary">キャンセル</button>
            </div>
        </div>
    </div>
</div>

<!-- Satisfaction Level登録用モーダル -->
<div id="satisfactionModal" class="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{ book.title }}</h5> <!-- モーダルタイトルにDjango変数を表示 -->
                <!-- <button type="button" class="btn-close close" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <form id="satisfaction-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="satisfaction-level">満足度</label>
                        <input type="number" min="1" max="5" class="form-control" id="satisfaction-level-input" name="satisfaction_level" required>
                    </div>
                    <div class="form-group">
                        <label for="summary-date">日付</label>
                        <input type="date" class="form-control" id="summary-date-input" name="summary_date" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="confirmAddSatisfactionButton" class="btn btn-primary">登録</button>
                <button id="cancelSatisfactionButton" class="btn btn-secondary">キャンセル</button>
            </div>
        </div>
    </div>
</div>

  
{% endblock %}

