<!-- templates/detail.html -->
{% extends 'base.html' %}

{% block title %}Detail{% endblock %}

{% block content %}
<div class="container custom-container">
    <h2 class="my-4">Details : {{ book.title }}</h2>

    <div class="row">
        <div class="col-md-4">
            {% if book.cover_image %}
                <img src="{{ book.cover_image.url }}" class="img-fluid" alt="{{ book.title }}" style="width: 100%; max-width: 250px; height: auto;">
            {% else %}
                <div class="bg-light text-center" style="width: 100%; max-width: 250px; height: 300px; display: flex; align-items: center; justify-content: center;">
                    No image
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <!-- Summary Section -->
            <div class="mb-4"> <!-- 余白を追加 -->
                <h3>Summary</h3>
                <div class="list-group-item">
                    {{ book.summary }}
                </div>
            </div>

            <!-- Basic Information Section -->
            <div class="mb-4"> <!-- 余白を追加 -->
                <h3>Basic Information</h3>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <strong>登録者:</strong> {{ basic_info.registrant }}<br>
                            <strong>登録日:</strong> {{ basic_info.registration_date }}<br>
                            <strong>著者:</strong> {{ book.author }}<br>
                            <strong>出版社:</strong> {{ book.publisher }}<br>
                            <!-- <strong>Purpose:</strong> {{ basic_info.purpose }}<br>
                            <strong>Buy Reason:</strong> {{ basic_info.buy_reason }}<br> -->
                            <!-- <strong>Is Finished:</strong> {{ basic_info.is_finished }} -->
                        </div>
                        {% if basic_info.registrant == user.username %}
                            <a href="{% url 'update_basic_info' basic_info.basic_info_code %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'delete_basic_info' basic_info.basic_info_code %}" class="btn btn-danger btn-sm ml-2">Delete Basic Info and All Related Records</a>
                        {% endif %}
                    </li>
                </ul>
            </div>

            <!-- Reading Notes Section -->
            <div class="mb-4"> <!-- 余白を追加 -->
                <h3>Reading Notes</h3>
                <ul class="list-group">
                    {% for note in reading_notes %}
                        <li class="list-group-item">
                            <strong>日付:</strong> {{ note.registration_date }}<br>
                            <strong>気づき:</strong> {{ note.impression }}<br>
                            <strong>学び:</strong> {{ note.learning }}<br>
                            {% if basic_info.registrant == user.username %}
                                <a href="{% url 'update_reading_note' note.note_id %}" class="btn btn-warning btn-sm mt-2">Edit</a>
                                <a href="{% url 'delete_reading_note' note.note_id %}" class="btn btn-danger btn-sm mt-2">Delete</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% if basic_info.registrant == user.username %}
                    <a href="{% url 'readingnote' book.book_code %}" class="btn btn-primary btn-sm mt-3">Add Reading Note</a>
                {% endif %}
            </div>

            <!-- Post Reading Summaries Section -->
            <div class="mb-4"> <!-- 余白を追加 -->
                <h3>Satisfaction Level</h3>
                <ul class="list-group">
                    {% for summary in post_reading_summaries %}
                        <li class="list-group-item">
                            <strong>日付:</strong> {{ summary.registration_date }}<br>
                            <!-- <strong>気づき:</strong> {{ summary.impression }}<br>
                            <strong>学び:</strong> {{ summary.learning }}<br> -->
                            <strong>満足度:</strong> {{ summary.satisfaction_level }}<br>
                            {% if summary.basic_info_code.registrant == user.username %}
                                <a href="{% url 'update_post_reading_summary' summary.summary_id %}" class="btn btn-warning btn-sm mt-2">Edit</a>
                                <a href="{% url 'delete_post_reading_summary' summary.summary_id %}" class="btn btn-danger btn-sm mt-2">Delete</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% if basic_info.registrant == user.username %}
                    <a href="{% url 'postreading' book.book_code %}" class="btn btn-primary btn-sm mt-3">Add Satisfaction Level</a>
                {% endif %}
            </div>

            <a href="{% url 'list' %}" class="btn btn-secondary mt-3">Back to list</a>
        </div>
    </div>
</div>
{% endblock %}

