{% extends 'base.html' %}

{% block title %}New Book{% endblock %}

{% block content %}
<div class="container custom-container">
    <h2 class="my-4">New Book</h2>
    <div class="row justify-content-center">
        <div class="col-md-10 card card-custom-bg">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_title">タイトル</label>
                                <div class="input-group">
                                    {{ book_form.title }}
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="searchButton">
                                            <i class="fas fa-search"></i> 検索
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_genre">ジャンル</label>
                                {{ book_form.genre }}
                            </div>
                            <div class="form-group">
                                <label for="id_tags">タグ</label>
                                <div id="tag-list">
                                    <div class="input-group mb-3">
                                        <input type="text" name="tags" class="form-control" placeholder="Tag">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary" type="button" id="add-tag-button"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_cover_image">カバー画像</label>
                                {{ book_form.cover_image }}
                                <input type="hidden" id="cover-image-url" name="cover-image-url">
                                <div id="cover-image-preview" style="margin-top: 10px;">
                                    <img id="cover-preview-img" src="#" alt="Selected Cover Image" style="display: none; max-width: 100%; height: auto;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_author">著者</label>
                                {{ book_form.author }}
                            </div>
                            <div class="form-group">
                                <label for="id_publisher">出版社</label>
                                {{ book_form.publisher }}
                            </div>
                            <div class="form-group">
                                <label for="id_summary">概要</label>
                                {{ book_form.summary }}
                            </div>
                            <div class="form-group">
                                <label for="id_purpose">目的</label>
                                {{ basic_info_form.purpose }}
                            </div>
                            <div class="form-group">
                                <label for="id_buy_reason">購入のきっかけ</label>
                                {{ basic_info_form.buy_reason }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- モーダルウィンドウ -->
<div class="modal fade" id="searchResultsModal" tabindex="-1" role="dialog" aria-labelledby="searchResultsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchResultsModalLabel">検索結果</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="searchResults">
          <!-- 検索結果をここに表示 -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
