<!-- templates/update_reading_note.html -->
{% extends 'base.html' %}

{% block title %}Update Reading Note{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">Update Reading Note</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_registration_date">日付</label>
            {{ form.registration_date }}
        </div>
        <div class="form-group">
            <label for="id_impression">感想</label>
            {{ form.impression }}
        </div>
        <div class="form-group">
            <label for="id_learning">学び</label>
            {{ form.learning }}
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}
