<!-- templates/update_post_reading_summary.html -->
{% extends 'base.html' %}

{% block title %}Update Post Reading Summary{% endblock %}

{% block content %}
<div class="container custom-container">
    <h2 class="my-4">Update Post Reading Summary</h2>
    <div class="row justify-content-center">
        <div class="col-md-10 card card-custom-bg">
            <div class="card-body">
                <div class="col-md-8">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_registration_date">日付</label>
                            {{ form.registration_date }}
                        </div>
                        <div class="form-group">
                            <label for="id_impression">感想</label>
                            {{ form.impression }}
                        </div>
                        <div class="form-group">
                            <label for="id_learning">学び</label>
                            {{ form.learning }}
                        </div>
                        <div class="form-group">
                            <label for="id_satisfaction_level">満足度</label>
                            {{ form.satisfaction_level }}
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
